body {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:auto;
    width:1024px;
    padding:10px;
    /*background-image: url("../images/2.png");*/

}

h1 {
    text-align: center;
    margin: 10px 0 1.5em;
}

label {

    font-size:18px;
    font-family:Verdana;
    font-weight: bold;
}
input + button {
    margin-top: 10px;
}

label {
    margin-right: 10px;
}

label {
    margin-top: 10px;
}

.tp-div, .am-div, .graphMl-div {
    margin: 1em;
}

.inputs-div {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/

    /*grid-template-columns: 100px 50px 100px;*/
    /*grid-template-rows: 80px auto 80px;*/
    /*column-gap: 10px;*/
    /*row-gap: 15px;*/
    /*justify-items: center;*/

}