{% extends "layout.html" %}

{% block content %}

    <div class="container" id="container">

        <div class="global-div">
            <div class="buttons-div">
                <input id="inputs-number" type="number" min="0">
                <button id="button" class="btn btn-success btn-sm m-1" type="button" onclick="produceInputs()">Add</button>
                <button id="remove-inputs" class="btn btn-danger btn-sm m-1" type="button" onclick="removeInputs()">Remove</button>
            </div>

            <div class="inputs-div">
                <form method="post" action="http://127.0.0.1:5000/PageRank/networkx">
                    <ul id="wrapper">

                    </ul>
                </form>

            </div>
        </div>



    <div class="input-group mb-3">
  <span class="input-group-text">2</span>
  <input type="text" class="form-control" placeholder="osos">
</div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">3</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">4</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>



    </div>
 {% endblock content %}